<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
</head>

<body onselectstart="return false" oncontextmenu="return false" ondragstart="return false"
    onMouseOver="window.status='..message perso .. '; return true;">
    <div id="welcome" class="container" style="margin-top: 2%;">
        <p style="font-size: 25px; text-align: center;">BIENVENUE, VEUILLEZ CHOISIR UNE IMAGE ET CLIQUER SUR VALIDER, MERCI ...</p>
    </div>
    <div id="main" class="container" style="margin-top: 8%;">
        <div class="row">
            <div class="col s12 m4">
                <div id="cd1" class="card z-depth-1 waves-green">
                    <div class="card-image">
                        <img src="/images/candidat1.jpg">
                        <span class="card-title black-text">
                            SERCOVID19
                        </span>
                    </div>
                    <div class="card-content center">
                        <p>
                            JE SUIS D'ACCORD
                        </p>
                    </div>
                    <div id="ccd1" class="card-action">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 show-on-medium-and-up">
                <div id="cd2" class="card z-depth-1">
                    <div class="card-image">
                        <img src="/images/candidat2.jpg">
                        <span class="card-title black-text">
                            SERCOVID19
                        </span>
                    </div>
                    <div class="card-content center">
                        <p>
                            JE SUIS D'ACCORD
                        </p>
                    </div>
                    <div id="ccd2" class="card-action">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div id="cd3" class="card z-depth-1">
                    <div class="card-image">
                        <img src="/images/candidat3.jpg">
                        <span class="card-title black-text">
                            SERCOVID19
                        </span>
                    </div>
                    <div class="card-content center">
                        <p>
                            JE SUIS D'ACCORD
                        </p>
                    </div>
                    <div id="ccd3" class="card-action">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <button style="display: none;" id="" class="col m5 btn waves-effect waves-light heading  green" type="button"
                    name="action" style="height: 100px; font-size: large;" disabled>
                    VALIDER
                </button>
                <a href="<%= lienfichier %>" download="<%= nomfichier %>" id="submit" class="col m5 btn btn-large waves-effect waves-light heading  green" 
                    name="action" style="height: 100px; font-size: large;" disabled>
                    VALIDER
                </a>
                <div class="col m2"></div>
                <button id="reset" class="col m5 btn waves-effect waves-light red" type="button" name="action"
                    style="height: 100px; font-size: large;">
                    EFFACER
                </button>
            </div>
        </div>
    </div>

    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script>
        $(document).ready(() => {

            var tabidcard = ['cd1', 'cd2', 'cd3']
            var candidat = "";

            var nomfichier = $('#nomfichier').text()
            var lienfichier = $('#lienfichier').text()

            $('#cd1').click(() => {
                activate('cd1')
                deactivate(tabidcard, tabidcard.indexOf('cd1'))
            })
            $('#cd2').click(() => {
                activate('cd2')
                deactivate(tabidcard, tabidcard.indexOf('cd2'))
            })
            $('#cd3').click(() => {
                activate('cd3')
                deactivate(tabidcard, tabidcard.indexOf('cd3'))
            })

            $('#reset').click(() => {
                deactivate(tabidcard, tabidcard.indexOf('null'))
                $('#submit').attr('disabled', '')
            })

            function download(file){
                var link  = $('#dwl')
                link.attr("download", file);
                link.click()
            }

            $('#submit').click(() => {
                var alink  = $('#dwl')
                alink.click((e)=> {
                    alert("ok")
                })
            })

            function activate(idcard) {
                $('#c' + idcard).css('background-color', 'green')
                $('#' + idcard).removeClass('z-depth-1').addClass('z-depth-5')
                $('#submit').removeAttr('disabled')
                candidat = idcard
                console.log("je suis " + idcard)
            }

            function deactivate(tabidcard, index) {
                tabidcard.forEach(idcard => {
                    if (idcard !== tabidcard[index]) {
                        $('#c' + idcard).css('background-color', 'white')
                        if ($('#' + idcard).hasClass('z-depth-5')) {
                            $('#' + idcard).removeClass('z-depth-5').addClass('z-depth-1')
                        }
                    }
                });
            }



        })
    </script>
</body>

</html>