<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    </head>
    <body style="background-image: url('/images/attent.jpg');background-position:0% 0%;">
        <div id="welcome" class="container" style="margin-top: 2%;">
                <p style="font-size: 25px; text-align: center;">MERCI À VOUS</p>
        </div>
        <div id="main" class="container" style="margin-top: 8%;">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div id="cd1" class="card z-depth-5 waves-green">
                        <div class="card-image">
                            <img src="/images/merci.jpg">
                            <span class="card-title black-text">
                            
                            </span>
                        </div>
                        <div class="card-content center">
                            <p>
                                TONTON, TANTIE MERCI OHHH
                            </p>
                        </div>
                        <div id="merci" class="card-action">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        
       
            <script src="/materialize/js/materialize.min.js"></script>
            <script src="/javascripts/jquery.min.js"></script>
    </body>
</html>